<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br> <br>
            <h3>Edit Your Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
                    <div class="invalid-feedback">Please enter a title.</div>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <br />
                <div class="mb-3">
                    <label for="description" class="form-label"><b>Description</b></label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a description.</div>
                    <div class="valid-feedback">Description looks good!</div>
                </div>
                <br />
                <div class="mb-3">
                    <label for="image" class="form-label"><b>Upload New Image</b></label>
                    <input name="listing[image]" value="<%= listing.image.url %>" type="file" class="form-control" />
                </div>
                <br />
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" min="0" class="form-control" required/>
                        <div class="invalid-feedback">Please enter a valid, non-negative price.</div>
                        <div class="valid-feedback">Price looks good!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label"><b>Country</b></label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
                        <div class="invalid-feedback">Please enter a country.</div>
                        <div class="valid-feedback">Country looks good!</div>
                    </div>
                </div>
                <br />
                <div class="mb-3">
                    <label for="location" class="form-label"><b>Location</b></label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
                    <div class="invalid-feedback">Please enter a location.</div>
                    <div class="valid-feedback">Location looks good!</div>
                </div>
                <br />
                <div class="mb-3">
                    <button class="btn btn-dark edit-btn">Edit</button>
                </div>
            </form>
        </div>
    </div>
</body>
